//Color

$base-color: rgba(255, 255, 255, 0.99);

$stack-color: rgb(227, 160, 98);



//Font-Family

$Playfair: 'Playfair Display', serif;
$PNL: 'Proxima Nova Light', sans-serif;
$PNR: 'Proxima Nova Regular', sans-serif;
$PNB: 'Proxima Nova Bold', sans-serif;
//breakpoints

$breakpoints: (
        'xs': (max-width: 480px),
        'sm': (max-width: 768px),
        'md': (max-width: 1024px),
        'lg': (max-width: 1200px)
);