extends base

block title
    title Charger

append css

block content
    .wrapper
        .main-screen
            include include/header
            .slider.fade
                .slide_item
                    h1.heading We’re
                        span Charger
                    span.description  One of the most powerful and recognized brand names in the custom automotive industry.
                    a.more(href="#") read More
                .slide_item
                    h1.heading We have
                        span franchises
                    span.description  We have worked with some of the largest brands in the world, including Fortune 500 companies.
                    a.more(href="#") read More
                .slide_item
                    h1.heading Join
                        span our team
                    span.description  One of the most powerful and recognized brand names in the custom automotive industry.
                    a.more(href="#") read More
            .social
                a.icon(href="#") Facebook
                a.icon(href="#") Twitter
                a.icon(href="#") Youtube



    include include/footer